.handle {
    padding: 10px;
    background-color: #b8b8b8;
    width: 50%;
}

.react-draggable, .cursor {
    cursor: move;
}

.react-draggable strong {
    background: #000;
    border: 1px solid #000;
    border-radius: 3px;
    display: block;
    margin-bottom: 10px;
    padding: 3px 5px;
    text-align: center;
  }

.box {
    background: rgba(126, 125, 125, 0.623);
    color: #fff;
    border: 1px solid #999;
    border-radius: 3px;
    width: 180px;
    height: 180px;
    margin: 10px;
    padding: 10px;
    float: left;
}