.App {
  text-align: center;
}

.App h2 {
  margin-top: 8rem;
}

/* DROPZONE */
.dropzone {
  background-color: rgb(243, 243, 240);
  padding: 1.5rem;
  border: dotted 2px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.dropzone-filelist li {
  text-align: left;
}

.dropzone, 
.dropzone-filelist {
  margin: 2rem 10rem;
  width: 50%;
}

.dropzone:hover {
  background-color: rgb(211, 211, 210);
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone-thumb {
  display: inline-flex;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}

.dropzone-thumbinner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.dropzone-img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0.5rem;
}

.dropzone-thumblist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Sortable HOC */
.sortable-hoc-container {
  margin: 5rem 10rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortable-item {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #eee;
  width: 50%;
  list-style: none;
  text-align: center;
}

