.App {
  text-align: center;
}

.App h2 {
  margin-top: 8rem;
}

/* Navbar */
.navbar {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
}

li a {
    text-decoration: none;
}

.navbar p,
.navbar-heading {
    /* display: flex; */
    color: white;
    text-transform: uppercase;
    margin-left: 1.5rem;
    font-size: 24px;
    transition: all .2s ease-in-out;
}

.navbar p:hover {
    color: rgb(153, 153, 153);
}

.navbar-links {
    display: flex;
    flex-direction: row;
    margin-right: 1.5rem;
}

/* DROPZONE */

.dropzone {
  background-color: rgb(243, 243, 240);
  padding: 1.5rem;
  border: dotted 2px;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.dropzone-filelist li {
  text-align: left;
}

.dropzone, 
.dropzone-filelist, 
.dropzone-thumblist {
  margin: 5rem 10rem;
  width: 50%;
}

.dropzone:hover {
  background-color: rgb(211, 211, 210);
}

.dropzone-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropzone-thumb {
  display: inline-flex;
  border-radius: 2;
  border: 1px solid #eaeaea;
  margin-bottom: 8;
  margin-right: 8;
  width: 25%;
  height: 100%;
  box-sizing: border-box;
}

.dropzone-thumbinner {
  display: flex;
  min-width: 0;
  overflow: hidden;
}

.dropzone-img {
  display: block;
  width: 100%;
  height: 100%;
}

.dropzone-thumblist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Sortable HOC */
.sortable-hoc-container {
  margin: 5rem 10rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sortable-item {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
  cursor: pointer;
  background-color: #eee;
  width: 50%;
  list-style: none;
  text-align: center;
}